

#nav-icon2 {
    width: 60px;
    height: 0px;
    position: relative;
    margin: 0px auto;
    right: 20px;
    cursor: pointer;
    z-index: 99;
    margin-right:0px
  }
  
  #nav-icon2 span {
    display: block;
    position: absolute;
    height: 9px;
    width: 50%;

    background: #d3531a;
  }
  
  #nav-icon2 span {
    width: 40px;
    height: 5px;
    left: 33%;
    border-radius: 9px;
  }
  
  
  #nav-icon2 span:nth-child(1){
    top: 8px;
  }
  
  #nav-icon2 span:nth-child(2) {
    top: 18px;
  }
  
  #nav-icon2 span:nth-child(3) {
    top: 28px;
  }
  
 