mat-card {
  margin-bottom: 25px;
  position: fixed;
  width: 100%;
  z-index: 101;
  border-radius: 0;
  background-color: #030329;
  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: end;
    text-align: right;
    margin: 0px 50px;
    li {
      color: white;
      margin: 0px 35px;
      font-size: 1rem;
      font-family: Arial, Helvetica, sans-serif;
    }
    li:hover {
      cursor: pointer;
      color: rgb(224, 108, 66);
      transition: 0.2s;
    }
  }
}
