<div class="main">
  <div class="pesquisa-conteiner">
  <mat-form-field>
    <mat-label>Pesquise o candidato aqui</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input />
  </mat-form-field>

  <section class="example-section" [formGroup]="filtros">
    <button class="filtro-color" mat-button [matMenuTriggerFor]="animals">Selecione o filtro:</button>
      <mat-menu #animals="matMenu">
        <mat-slide-toggle formControlName="estudando" (change)="aoMudar()">Estudando</mat-slide-toggle>
      <mat-slide-toggle formControlName="programando" (change)="aoMudar()">Programando</mat-slide-toggle>
      <mat-slide-toggle formControlName="trabalhando" (change)="aoMudar()">Trabalhando</mat-slide-toggle>
        <button mat-menu-item [matMenuTriggerFor]="HrsDisponiveis">Horas Disponiveis</button>
          <button mat-menu-item [matMenuTriggerFor]="Classe">Classe Social</button>
          <button mat-menu-item [matMenuTriggerFor]="status">Perfil Atual</button>
      
    </mat-menu>
    <mat-menu #HrsDisponiveis="matMenu">
      <button mat-menu-item>2 Horas</button>
      <button mat-menu-item>4 Horas</button>
      <button mat-menu-item>6 Horas</button>
      <button mat-menu-item>8 Horas</button>
    </mat-menu>
    
    <mat-menu #Classe="matMenu">
      <button mat-menu-item>Risco</button>
      <button mat-menu-item>Vulnerável</button>
      <button mat-menu-item>Baixo</button>
      <button mat-menu-item>Sustentável</button>
      <button mat-menu-item>Médio</button>
      <button mat-menu-item>Alto</button>
    </mat-menu>
    
    <mat-menu  #status="matMenu">
      <button mat-menu-item>Inicial</button>
      <button mat-menu-item>Cadastro Complementar</button>
      <button mat-menu-item>Cadastro Social</button>
      <button mat-menu-item>Prova Logica</button>
      <button mat-menu-item>Entrevista</button>
      <button mat-menu-item>Aguardando</button>
      <button mat-menu-item>Aprovado</button>
      <button mat-menu-item>Reprovado</button>
    </mat-menu>
  </section>
</div>

  <div class="conteiner-table">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mt-table">
      
      <ng-container class="name" matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let element">{{ element.nomeCompleto }}</td>
      </ng-container>

      <ng-container class="acao" matColumnDef="acao">
        <th mat-header-cell *matHeaderCellDef>Ação</th>
        <td mat-cell *matCellDef="let element">
          <mat-icon class="mat-18">check</mat-icon>
          
          <mat-icon class="mat-18">clear</mat-icon>
        </td>
      </ng-container>


      <ng-container class="view" matColumnDef="view">
        <th mat-header-cell *matHeaderCellDef>Visualização </th>
        <td mat-cell *matCellDef="let element" >
          <button (click)="openDialog(element)"> Detalhes do candidato</button>
        </td>
        
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          Candidato "{{ input.value }}" não encontrado
        </td>
      </tr>
    </table>
  </div>
  </div>
