mat-card {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  padding: 0px;
  box-shadow: none;

  mat-datepicker-toggle.mat-datepicker-toggle-active {
    color: #e05928;
  }
  mat-datepicker-toggle {
    color: white;
  }

  mat-form-fild {
    mat-select,
    .mat-select-value,
    .mat-select-value-text {
      color: white;
    }
  }

  mat-card-content {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    min-width: 260px;
    max-width: 700px;
    padding: 25px;
    margin: 20px auto 0px auto;
    background-color: #000000de;
    border-radius: 20px;
    animation: 0.6s show forwards;
    box-shadow: 1px 8px 16px 0px rgba(31, 31, 31, 0.795);

    .form {
      display: flex;
      flex-direction: column;
      color: white;
    }
    input {
      color: #e05928;
    }
    label {
      font-size: 0.9rem;
      color: white;
      margin: 15px 0px 5px 0px;
    }
  }

  mat-label {
    color: white;
    font-size: 1rem;
  }
}
::ng-deep .mat-radio-outer-circle {
  border-color: white;
  border-radius: 40%;
}
mat-radio-button {
  margin: 15px 5px;
}
::ng-deep.mat-radio-label-content {
  color: white;
}
::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent
  .mat-radio-ripple
  .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: #ff5722;
}
::ng-deep.mat-radio-button.mat-accent.mat-radio-checked
  .mat-radio-outer-circle {
  border-color: #ff5722;
}

::ng-deep .mat-select-value {
  color: #ff5722 !important;
}
mat-slider {
  margin-top: 20px;
}
::ng-deep.mat-accent .mat-slider-track-fill,
.mat-accent .mat-slider-thumb,
.mat-accent .mat-slider-thumb-label {
  background-color: #e05928;
}
img {
  width: 80px;
  margin: 0px auto;
  margin-bottom: 15px;
}
h1 {
  text-align: center;
}
