<mat-card>
  <mat-card-content>
    <form>
      <mat-form-field>
        <mat-label>Data Nascimento</mat-label>
        <input matInput [matDatepicker]="picker" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>


      <label id="estuda">Estuda?</label>
      <mat-radio-group aria-label="Estuda">
        <mat-radio-button value="1">Sim</mat-radio-button>
        <mat-radio-button value="2">Não</mat-radio-button>
      </mat-radio-group>

      <label id="trabalha">Trabalha?</label>
      <mat-radio-group aria-label="Trabalha">
        <mat-radio-button value="1">Sim</mat-radio-button>
        <mat-radio-button value="2">Não</mat-radio-button>
      </mat-radio-group>

      <label id="conhece">Conhece progamação?</label>
      <mat-radio-group aria-label="Conhece progamação">
        <mat-radio-button value="1">Sim</mat-radio-button>
        <mat-radio-button value="2">Não</mat-radio-button>
      </mat-radio-group>

      <mat-form-field>
        <mat-label>Periodo disponível </mat-label>
        <mat-select>
          <mat-option value="one">Manhã</mat-option>
          <mat-option value="two">Tarde</mat-option>
          <mat-option value="tree">Noite</mat-option>
          <mat-option value="four">Indiferente</mat-option>
        </mat-select>
      </mat-form-field>

      Horas disponíveis para treinar
      <mat-slider max="8" min="2" step="2" thumbLabel="true" vertical="false"></mat-slider>

      <button mat-raised-button color="primary" type="submit">Proximo</button>
    </form>
  </mat-card-content>
</mat-card>
