<mat-card>
  <mat-card-content>
    <div class="form" *ngIf="form" [formGroup]="form">
      <img class="logoMenu" src="../../../assets/img/cadastroCristal.svg" alt="Login" />
      <h1>Cadastrar</h1>

      <mat-form-field>
        <mat-label>Data Nascimento</mat-label>
        <input matInput formControlName="data" [min]="minDate" [max]="maxDate" [matDatepicker]="dp3" [disabled]="true" />
        <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
        <mat-datepicker color="primary" #dp3 disabled="false"></mat-datepicker>
      </mat-form-field>

      <label id="estuda">Estuda?</label>
      <mat-radio-group formControlName="estuda" aria-label="Estuda">
        <mat-radio-button value="true">Sim</mat-radio-button>
        <mat-radio-button value="false">Não</mat-radio-button>
      </mat-radio-group>

      <label id="trabalha">Trabalha?</label>
      <mat-radio-group formControlName="trabalha" aria-label="Trabalha">
        <mat-radio-button value="true">Sim</mat-radio-button>
        <mat-radio-button value="false">Não</mat-radio-button>
      </mat-radio-group>

      <label id="conhece">Conhece progamação?</label>
      <mat-radio-group formControlName="conhece" aria-label="Conhece progamação">
        <mat-radio-button value="true">Sim</mat-radio-button>
        <mat-radio-button value="false">Não</mat-radio-button>
      </mat-radio-group>

      <mat-form-field>
        <mat-label>Periodo disponível </mat-label>
        <mat-select color="#e05928" class="value-select" formControlName="periodo">
          <mat-option value="one">Manhã</mat-option>
          <mat-option value="two">Tarde</mat-option>
          <mat-option value="tree">Noite</mat-option>
          <mat-option value="four">Indiferente</mat-option>
        </mat-select>
      </mat-form-field>

      Horas disponíveis para treinar:
      <mat-slider max="8" min="2" step="2" thumbLabel="true" vertical="false" formControlName="tempoTreino"></mat-slider>

      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid" (click)="onSubmit()">
        Proximo
      </button>
    </div>
  </mat-card-content>
</mat-card>
