body{
    background-color: rgb(233, 233, 233);
    margin: 0%;

}
nav{
    background-color: #02021c; 
    width: 100%;
    height: auto;
    margin: 0%;
}
form{
    text-align: center;
}
form .esq{
   margin-right: -11%;
   margin-top: 0%;
   
}