<mat-card class="menu-open" [ngClass]=" {'open': open}">
  <div class="botaoclosed">
    <app-botao-closed (open)="changeOpen($event)"></app-botao-closed>
  </div>
  <mat-card-header>
    <img class="logoMenu" matCardImage src="../../../assets/img/Icon-Perfil.svg" />
    <h1>Bem vindo, {{ perfil }}!</h1>
    <h2>(Perfil)</h2>
    <h3>Bom Dia!</h3>
  </mat-card-header>

  <mat-card-content>
    <h3 *ngFor="let itens of menu" (click)="(irPara(itens))">{{ itens.titulo }}</h3>
    <img *ngFor="let itens of menu" (click)="(irPara(itens))" [src]='itens.icon' alt="icon">
  </mat-card-content>
  <mat-card-actions>
    <button class="closeSession" mat-raised-button color="primary">Logout now</button>
  </mat-card-actions>
</mat-card>
