<mat-card>
  <mat-card-content>
    <div class="form" *ngIf="form" [formGroup]="form">
      <img src="../../../assets/img/cadastroCristal.svg" alt="Login" />
      <h1>Cadastrar</h1>
      <mat-form-field>
        <mat-label>Classe social</mat-label>
        <mat-select formControlName="classe" required>
          <mat-option value="one">Baixa</mat-option>
          <mat-option value="two">Baixa/Média</mat-option>
          <mat-option value="tree">Média</mat-option>
          <mat-option value="four">Alta</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Por que você <br> precisa de mentoria?</mat-label>
        <textarea matInput formControlName="razao" required></textarea>
      </mat-form-field>


      <mat-form-field>
        <mat-label>Agende um bate-papo</mat-label>
        <input matInput formControlName="agendar" [min]="minDate" [max]="maxDate" [matDatepicker]="dp3" [disabled]="true" />
        <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
        <mat-datepicker color="primary" #dp3 disabled="false"></mat-datepicker>
      </mat-form-field>
      <div>
        <button mat-raised-button color="primary" type="">Pular</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid" (click)="onSubmit()">Proximo</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
