mat-card {
  display: flex;
  flex-direction: column;
  background-color: transparent;

  mat-card-content {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    justify-items: center;
    background-color: #000000aa;
    padding: 50px 60px;
    border-radius: 20px;
    align-items: center;
    animation: 0.6s show forwards;
    box-shadow: 1px 8px 16px 0px rgba(53, 53, 53, 0.712);

    form {
      display: flex;
      flex-direction: column;
    }
  }
}
input::placeholder,
mat-label {
  color: white;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
form {
  display: flex;
  flex-direction: column;
  .mat-form-field {
    color: white;
  }
  .mat-raised-button {
    background-color: #e05928;
    color: black;
    font-size: 1.3rem;
    margin: 25px auto 0px auto;
    padding: 5px 20px;
    max-width: 130px;
    justify-content: center;
  }
  .mat-form-field-underline {
    background-color: white;
  }
}

::ng-deep .mat-card-header-text {
  margin: 0;
}
::ng-deep .mat-form-field-appearance-legacy .mat-hint {
  color: white;
}
