mat-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  background-color: #000000aa;

  form {
    display: flex;
    flex-direction: column;
    .mat-form-field{
      color:white;
    }
    .mat-button{
      background-color: #000000aa;
    }
  }
}

::ng-deep .mat-card-header-text {
  margin: 0;
}
